<app-toolbar></app-toolbar>
<div style="height: calc(100vh - 64px - 16px); background-color: lightgrey; padding: 8px;">
  <router-outlet></router-outlet>
</div>

<!--<h1>Hello World</h1>-->

<!--<input placeholder="Path to Nginx Dir (C:/nginx-1.17.1/)" [(ngModel)]="nginxDir" (ngModelChange)="savePath()"/>-->
<!--<button (click)="testRead()">Get Status</button>-->

<!--<button (click)="testKill()">Kill Nginx</button>-->

<!--<button (click)="start()" [disabled]="nginxDir == null || nginxDir == ''">Start Nginx</button>-->

<!--<button (click)="reload()" [disabled]="nginxDir == null || nginxDir == ''">Reload Nginx</button>-->
<!--<div>-->
<!--  <p *ngFor="let row of tasks">{{row}}</p>-->
<!--</div>-->
